<div class="dashboard-custom-container" role="main" aria-labelledby="dashboard-title">
    <h2 id="dashboard-title">{{ username }}</h2>

    <!-- Section pour ajouter une nouvelle tâche -->
    <div class="dashboard-add-task-section" role="form">
        <h4>Ajouter une tâche</h4>
        <div class="dashboard-input-wrapper">
            <input [(ngModel)]="newTaskTitle" placeholder="Nouvelle tâche" aria-label="Nouvelle tâche" />
            <button (click)="addTask()" aria-label="Ajouter une tâche">Ajouter</button>
        </div>
    </div>

    <!-- Liste des tâches -->
    <div *ngFor="let task of tasks; let i = index" class="dashboard-task-item" [@taskAnimation]>
        <div class="dashboard-task-info">
            <!-- Retrait de l'événement (change) pour la checkbox -->
            <input type="checkbox" [(ngModel)]="task.isCompleted" aria-label="Tâche complétée" />
            <input type="text" [ngModel]="task.title" (ngModelChange)="editTask(task, $event)" aria-label="Modifier tâche" />
        </div>
        <div class="dashboard-task-actions">
            <button (click)="editTask(task, task.title)" aria-label="Modifier tâche">modifié</button>
            <button (click)="deleteTask(i)" aria-label="Supprimer tâche" class="dashboard-delete-btn">supprimé</button>
        </div>
    </div>
</div>
